.trailsMain {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailsText {
  position: relative;
  width: 100%;
  //   height: 80px;

  color: 000;
  font-size: 20px;

  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  overflow: hidden;
}
