.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 25px;

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

    .option {
      text-decoration: none;
    }
  }
}
